<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/headdefaults.ejs %>  
        <link rel="stylesheet" href="css/editor.css">     
        <title>Editor</title>
    </head>

    <body class="pt-0 tgsoverhidden"> 

        <div class="clearfix"></div>

        <nav class="navbar navbar-expand-md navbar-dark lehighbgcolor d-flex justify-content-between">
            <a class="navbar-brand site-title" href="./">TypeScript Game Studio</a>
            <div>

                <a class="btn btn-sm bg-white my-2 my-sm-0" href="./account">Back to Project Select</a> 

                <div class="popup">
                    <a onclick="saveContent('save')" class="btn btn-sm bg-white my-2 my-sm-0 ml-2">Save</a>
                    <span class="popuptext" id="savePopup">Saved!</span>
                </div>
                <div class="popup">
                    <a onclick="compile(0)" class="btn btn-sm bg-white my-2 my-sm-0 ml-2">Compile &amp; Run</a>
                    <span class="popuptext" id="compilePopup">Error compiling project</span>
                </div>
                <div class="popup">
                    <a onclick="compile(1)" class="btn btn-sm bg-white my-2 my-sm-0 ml-2">Publish</a>
                    <span class="popuptext" id="publishPopup">Error publishing project</span>
                </div>

            </div>
        </nav>

        <div class="container-fluid d-flex flex-column pl-0" style="height: 100vh;">
            
            <div class="row d-flex align-items-stretch tgsflex1">

                <div class="col-2 d-flex flex-column align-self-stretch pr-0">

                    <div class="row">

                        <!-- Vertical Tabs on the left -->
                        <div class="col-1">
                            <ul class="nav nav-tabs tabs-left vertical-text d-flex flex-column">
                                <li class="active"><a class="text-dark" href="#home-v" data-toggle="tab">Projects</a></li>
                                <li><a class="text-dark" href="#profile-v" data-toggle="tab">Resources</a></li>
                            </ul>
                        </div>

                        <!-- Content for each tab -->
                        <div class="col align-self-stretch">
                            <div class="tab-content">
                                <div class="tab-pane active" id="home-v">
                                    <span class="pull-right">
                                        <a data-toggle="modal" data-target="#createFileModal">
                                            <i class="fa fa-plus mr-1" aria-hidden="true"></i>
                                        </a>
                                        <a data-toggle="modal" data-target="#uploadModal" onclick="hideUploadSucessMsg()">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <br>
                                    Project Files
                                    <div class="list-group" id="fileList">
                                    </div>
                                </div>
                                <div class="tab-pane" id="profile-v">
                                    <span class="pull-right">
                                        <a data-toggle="modal" data-target="#uploadFileModal">
                                            <i class="fa fa-plus mr-1" aria-hidden="true"></i>
                                        </a>
                                        <a data-toggle="modal" data-target="#uploadModal" onclick="hideUploadSucessMsg()">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                        </a>
                                    </span>
                                    <br>
                                    Resources
                                    <div class="list-group" id="fileList">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Modal to upload a file -->
                        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">File Upload</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <input type="file" class="form-control-file" id="file_upload" aria-describedby="fileHelp" onclick="hideUploadSucessMsg()">
                                            <br>  
                                            <div id="file_upload_successMsg"> 
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                                <small id="fileHelp" class="form-text text-muted d-inline">File uploaded successfully!</small>  
                                            </div>                                          
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="file_upload_button" onclick="initUpload()" type="button" class="btn btn-primary text-capitalize">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal to create a file -->
                        <div class="modal fade" id="createFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Create New File</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <label for="fileName">File Name</label>
                                            <input class="form-control" id="fileName" aria-describedby="projectName" required>     
                                            
                                            
                                            <label for="fileExtension">Select File extension</label>
                                            <select class="form-control" id="fileExtension">
                                              <option name=".ts">TypeScript .ts file</option>
                                            </select>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button id="file_upload_button" onclick="createFile()" data-dismiss="modal" type="button" class="btn btn-primary text-capitalize">Create File</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Run game modal -->
                        <div class="modal fade" id="runGameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" id="runGameModalContent">
                                    

                                    
                                </div>
                            </div>
                        </div>

                        <!-- Published Game Modal -->
                        <div class="modal fade" id="publishedGameModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" id="publishedGameModalContent">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Your Game has been Published!</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Share Your Game with Friends and Family!</p>              
                                        <form>
                                            <label for="projectSettingsName">Unique URL</label>
                                            <input class="form-control" id="projectPublishURL" aria-describedby="projectName">              
                                        </form>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- embedded IDE -->
                <div class="col-10">
                    <pre id="editor">
                        
                    </pre>
                </div>


            </div>
        </div>
        
        <% include partials/jsdefaults.ejs %>      
        <% include partials/gamedefaults.ejs %>                
          
        <script src="js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/ace/mode-typescript.js" type="text/javascript" charset="utf-8"></script>    
        <script src="js/editor.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/fileUpload.js" type="text/javascript" charset="utf-8"></script>                
    </body>
</html>