<!-- Basic Template -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/headdefaults.ejs %>        
        <title>Template</title>
    </head>

    <body>
        <script src="js/jquery.slim.min.js"></script>
        <script src="js/tether.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>