<!-- Basic Template -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Compatile with Microsoft's Edge browser -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Designed for mobile devices and is responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/login.css" >
        <title>Workspace</title>
    </head>

    <body class="d-flex" style="height: 100vh">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top lehighbgcolor">
            <a class="navbar-brand" href="./index.html">TypeScript Game Studio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <div class="container">
            <div class="card-deck justify-content-center align-items-center" style="height: 100%">
                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="images/img1.jpg" alt="Card image cap">
                    <div class="card-block container">
                        <h4 class="card-title">Project title</h4>
                        <p class="card-text">Project Description</p>
                        <a href="./editor.html" class="btn btn-sm btn-primary" style="margin-bottom:10px">Open Project</a>
                    </div>
                    <div class="card-footer text-muted">Last updated</div>
                </div>

                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="images/img2.jpg" alt="Card image cap">
                    <div class="card-block container">
                        <h4 class="card-title">Project title</h4>
                        <p class="card-text">Project Description</p>
                        <a href="./editor.html" class="btn btn-sm btn-primary" style="margin-bottom:10px">Open Project</a>
                    </div>
                    <div class="card-footer text-muted">Last updated</div>
                </div>

                <div class="card" style="width: 15rem;">
                    <img class="card-img-top" src="images/img3.jpg" alt="Card image cap">
                    <div class="card-block container">
                        <h4 class="card-title">Project title</h4>
                        <p class="card-text">Project Description</p>
                        <a href="./editor.html" class="btn btn-sm btn-primary" style="margin-bottom:10px">Open Project</a>
                    </div>
                    <div class="card-footer text-muted">Last updated</div>                    
                </div>                
            </div>
        </div>

        <script src="js/jquery.slim.min.js"></script>
        <script src="js/tether.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>