<!-- Basic Template -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/headdefaults.ejs %>    
        <title>Workspace</title>
    </head>

    <body class="d-flex" style="height: 100vh" onload="loadGames()">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top">
            <a class="navbar-brand site-title" href="./">TypeScript Game Studio - Account</a>
            
            <a class="btn bg-white ml-auto" data-toggle="modal" data-target="#createModal" type="button">Create Project</a>
        </nav>

        <!-- Modal to create a project -->
        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create New Project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <label for="projectName">Project Name</label>
                            <input class="form-control" id="projectName" aria-describedby="projectName" required>
                            <br>
                            <label for="projectDesc">Project Description</label>
                            <textarea class="form-control" id="projectDesc" rows="5"></textarea>  
                            <br>
                            <label for="imgUpload">Upload Project Image</label>
                            <input type="file" class="form-control-file" id="projectImgUpload" aria-describedby="fileHelp" accept=".jpg, .jpeg, .png">
                            <small id="projectImgTypeError" class="form-text text-error hidden">Image must be a .jpg, .jpeg, or .png</small> 
                            <small id="projectImgSizeError" class="form-text text-error hidden">Image must be less than 10 MB</small>   
                            <small id="fileHelp" class="form-text text-muted">We accept .jpg, .jpeg, and .png format!<br>Image dimensions 320x190 perferred.<br>Image size < 10 MB.</small>                             
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary text-capitalize" onclick="createGame()">start coding!</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="container project-select">

            <!-- Card Decks: a list of card each containing information for one project -->
            <div class="card-deck justify-content-center align-items-center" id="card-deck">
            </div>

            <!-- Modal: project setting -->
            <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Project Settings</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <label for="projectName">Project Name</label>
                                <input class="form-control" id="projectName" aria-describedby="projectName">
                                <br>
                                <label for="projectDesc">Project Description</label>
                                <textarea class="form-control" id="projectDesc" rows="5"></textarea> 
                                <br>
                                <label for="exampleInputFile">Upload Project Image</label>
                                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">                            
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="perm-popup">
                                <button type="button" class="btn btn-bad" onclick="showPopup('delete')">Delete Project</button>
                                <span class="popuptext" id="deletePopup">Are you sure?<br>
                                <a class="btn btn-sm" type="button" id="submit-delete">Yes</a>
                                <a class="btn btn-sm" type="button" onclick="showPopup('delete')">No</a>
                                </span>
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <div class="popup">
                                <a id="submit-update"><button type="button" class="btn btn-primary text-capitalize">Update settings</button></a>
                                <span class="popuptext" id="updatePopup">Error publishing project</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <% include partials/jsdefaults.ejs %>
        <script src="js/workspace.js" type="text/javascript" charset="utf-8"></script>        
    </body>
</html>